@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  background-color: #f8f9fa;
  -webkit-tap-highlight-color: transparent;
}

body {
  user-select: none;
}

input,
textarea,
[contenteditable="true"] {
  user-select: text;
}

* {
  -webkit-font-smoothing: antialiased;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
